/********** All Over **********************/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h4{
    margin: 0px;
    padding: 0px;
}

html {
    background-color: #fff;
    color: #555;
    font-size: 20px;
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;

}

.clearfix {zoom : 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row {
    width: 1200px;
    text-align: left;
    margin: 0px auto;
}

/******************  Header  *********************/


header {
    background-image: linear-gradient(rgba(5, 6, 15, 0.703), rgba(5, 6, 15, 0.703)), url(img/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
     background-attachment: fixed;

}

.big-header-image {

    position: absolute;
    transform: translate(-50%, -50%);
    width: 1200px;
    top: 50%;
    left: 50%;


}

.main-nav {
    float: right;
    list-style: none;


}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 65px;

}


.main-nav li a:link,
.main-nav li a:visited {
    border-bottom: 2px solid transparent;

    transition: border-bottom 0.5s linear;
    -moz- transition: border-bottom 0.5s linear;
    /* Firefox 4 */
    -webkit- transition: border-bottom 0.5s linear;
    /* Safari and Chrome */
    -o- transition: border-bottom 0.5s linear;
    /* Opera */
    -ms- transition: border-bottom 0.5s linear;


}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid orange;

}

.main-nav li a {
    color: white;
    text-decoration: none;
}

.logo {
    height: 100px;
    padding-top: 5px;
    float: left;
    padding-left: 50px;
}



/************** H ****************/

h1 {
    margin: 0px;
    padding: 0px;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 30px;

}

h1,
h2,
h3 {

    letter-spacing: 1px;
    word-spacing: 3px;
    text-transform: uppercase;

}

h2 {
    text-align: center;
    padding: 30px 0px 17px 0px;

}

h2:after {
    text-align: center;
    content: " ";
    width: 150px;
    height: 3px;
    text-align: center;
    background-color: orange;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

}

h3 {
    margin: 30px 0px 0px 0px;

}

/***************** PARAGRAPH  ***********/







/***************** Button *********/


.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 200px;
    font-weight: 300;
    margin-right: 10px;

    background: -moz-radial-gradient(left, #ffffff 24%, #cba334 88%);
    transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    /* Firefox 4 */
    -webkit-transition: background 0.5s linear;
    /* Safari and Chrome */
    -o-transition: background 0.5s linear;
    /* Opera */
    -ms-transition: background 0.5s linear;
    /* Explorer 10 */
}

.btn-full {
    background-color: orange;
    color: white;
    border: 1px solid orange;
}

.btn-bord {
    background-color: white;
    color: orange;
    border: 1px solid orange;
}

.btn-full:hover,
.btn-full:active {
    background-color: darkorange;
    color: white;
    border: 1px solid darkorange;
}

.btn-bord:hover,
.btn-bord:active {
    background-color: orange;
    color: white;
    border: 1px solid orange;
}




/******************  SECTION  ************/


.section-meal {
    padding-bottom: 50px;
}

ion-icon {
    color: orange;
    font-size: 300%;
}



.long-copy-desc {
    letter-spacing: 1px;
    font-weight: 500;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 30px;

}

.setWidth {
    width: 100%;
}

.long-copy {
    padding: 10px 0px;

}
.meal-showcase {
    width: 95%;
    margin: 20 auto;
    list-style: none;
    
}
.meal-showcase li {
  
    display: block;
    width: 25%;
    padding: 0px 10px 0px 10px;
    float: left;
    
}

.meal-image {
    width: 100%;
    margin: 0px;
    background: #000;
    overflow: hidden;
    
    
}
.meal-image img {
    width: 100%;
    margin: 0px;
    transform: scale(1);
    opacity: 0.7;
    transition : transform 0.5s;
}

.meal-image img:hover {
    transform: scale(1.15);
    opacity: 1;
    transition: transform 0.5s opacity 0.5s;
}


.step-box:first-child {
    text-align: center;
    padding-right: 5px;
}
.step-box:last-child {
    padding-right: 25px;
    padding-left: 20px;
    margin-top: 100px;
}

.img-phone {
    width: 40%;
}

.round-box {
    width: 60px;
    height: 60px;
    padding: 5px;
    border: 2px solid orange;
    border-radius: 50%;
    text-align: center;
    float: left;
    font-size: 2em;
    display: block;
    color: orange;
       
}
.step-word{
    color: black;
    padding-left: 30px;
    height: 30px;
    margin-left: 50px;
    height: 55px;
    width: 70%;
    overflow: hidden;
    padding-top: 8px;
    
    
    
}
.step-box-main {
    width: 100%;
    height: 80px;;
}



.city-small-image {
    width: 15px;
    color: orange;
    
}

.image-city {
    width: 100%;
    margin-bottom: 10px;
}

.top-move {
    margin-bottom: 30px;
    margin-top: 30px;
}

.image-android-link {
    padding-left: 87px;
}

.section-step-content {
    margin-top: 30px;
}
.city {
    margin-bottom: 30px;
}


.review {
    background-image:linear-gradient(rgba(5, 6, 15, 0.703), rgba(5, 6, 15, 0.703)),  url(img/back-customers.jpg);
    background-attachment: fixed;
    background-size: cover;
        color: white;
    padding: 30px 0px;
}


blockquote:before {
    content: "\201C";
    display: block;
    font-size: 400%;
    position: absolute;
    top: 0px;
    left: -10px;
    
    
}
blockquote {
    font-style: italic;
    position: relative;
    line-height: 145%;
    padding: 7px;
    
}
cite img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    
}
cite {
    display: block;
    vertical-align: middle;
    font-size: 90%;
    margin-top: 10px;
}
























.plan-box {
    background-color: white;

   
}

.plan-header {
    background-color: #f5f4f4 ;
    padding: 10px;
    height: 150px;
    
}

.pricing-plan {
    padding-top: 10px;
    padding-bottom: 10px;
    color: orange;
    
}

.plan-high-price {
    font-size: 200%;
    font-style: italic;
}



.plan-feature {
    padding: 30px;
     border-top: .1px solid gray;
    height: 250px;
    

    
}

.plan-image-feature {
    margin-right: 20px;
}

.plan-border {
    border-top: .1px solid gray;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
}

.section-signup h2 {
    color: black;
}
.section-signup {
    background-color: #edecec;
}
